.faq-container{
    width: 98vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

.faq-title{
    font-size: 2rem;
    font-weight: 650;
    text-align: center;
}

.faq-sub-title{
    font-size: 1.2rem;
    color: rgba(71, 84, 103, 1);
}

.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    width: 70%;

    *{
        background-color: transparent !important;
        border: none !important;
        outline: none !important;
    }

    .accordion-button:focus {
        box-shadow: none;
      }
}

.accordion-item{
    width: 70%;
    border-bottom: 0.05rem solid rgb(218, 218, 218) !important;
    padding: 0.5rem !important;
}

/* Remove the default Bootstrap arrow */
.accordion-button::after {
    display: none;
}

/* Custom +/- icon styling */
.accordion-icon {
    margin-left: auto; /* Push the icon to the far right */
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease; /* Smooth transform */
}

.accordion-icon.open {
    transform: rotate(0deg); /* Keep as is for '-' */
}

.accordion-button.collapsed .accordion-icon {
    transform: rotate(0deg); /* Keep as '+' */
}

.accordion-body{
    color: rgba(71, 84, 103, 1);
}

.faq-more-questions-container{
    width: 70%;
    margin: 3rem;

    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 2rem;
    background-color: rgb(247, 250, 250);

}

.more-questions-img{
    height: 4rem;
    width: 7.5rem;
}

.faq-more-questions-title{
    margin: 1rem;
    font-weight: 600;
}

.faq-more-questions-chat{
    color: rgba(71, 84, 103, 1);
    margin: 0 0 1rem 0;
}

.faq-action-btn{
    background-color: rgba(230, 63, 58, 1);
    color: white;
    padding: 0.6rem 0.8rem;

    font-weight: 500;
    border-radius: 0.8rem;

    text-decoration: none;
}

.faq-action-btn:hover{
    background-color: rgb(180, 8, 2);;
}

@media (max-width: 767px){
    .faq-container{
        width: 100vw;
        margin-left: 3rem;
    } 

    .faq-title{
        font-size: 2.2rem;
    }

    .faq-sub-title{
        text-align: center;
    }

    .accordion{
        width: 100vw;
    }

    .accordion-item{
        width: 100%;
    }

    .faq-more-questions-container{
        margin-left: -0.6rem;
    }

    .faq-more-questions-chat{
        text-align: center;
        width: 20rem;
    }
}