*{
    text-decoration: none;
    color: inherit;
}

.sign-up-container{
    color: rgb(255, 140, 0);

    font-weight: 550;

    margin: 8.06rem 0 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 77%;
    height: auto;
    gap: 3rem;
}

.new-feature-container{
    width: 27%;

    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.12rem solid rgba(228, 61, 56, 0.3);
    background-color: rgb(255 238 238);
    border-radius:2.31rem;
    opacity: 50;

    padding: 0.25rem;

    color: rgb(255, 140, 0);
    
}

.new-feature-container:hover{
    background-color: rgb(245, 219, 219);
    cursor: pointer;
}

.new-feature{
    border-radius: 2.31rem;
    font-weight: 600;
    background-color: white;

    margin: 0 14px 0 0 ;
    padding: 0.25rem;
}

.signup-tag-line{
    color: black;
    font-weight: 650;
    font-size: 3.12rem;
    margin-bottom: -1.62rem;
}

.signup-sub-tag-line{
    width: 41.75rem;
    color: rgba(71, 84, 103, 1);
    font-size: large;

    text-align: center;
}

.signup-action-btn-container{
    display: flex;
    color: black;
}


.signup-action-btn{
    width: 6.81rem;

    margin: 0 0.43rem;
    border-radius: 3.87rem;
    padding: 0.12rem 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-demo-btn-icon{
    height: 59%;
    margin: 0 0.25rem 0 0;
}

.signup-demo-btn{
    border: 0.12rem solid rgb(215, 215, 215);
}

.signup-demo-btn:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);;
}

.signup-signup-btn{
    color: white;
    background: rgba(230, 63, 58, 1);
}

.signup-signup-btn:hover{
    background-color: rgb(166, 33, 29);
    cursor: pointer;
}

.test-my-skills-img{
    width: 78%;
    height: 29.37rem;
}

.signup-companies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-company-logos{
    margin: 6.2rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 90%;
}

.signup-companies-heading{
    font-size: small;
    color: rgba(71, 84, 103, 1);

}

.signup-companies-img{
    max-width: 14%;
    margin: 0 6.2rem;
}