*{
    text-decoration: none;
    color: inherit;
}

.sign-up-container{
    color: rgb(255, 140, 0);

    font-weight: 550;

    margin: 129px 0 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;

    width: 77%;
    height: auto;
    gap: 48px;
}

.new-feature-container{
    width: 27%;

    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(228, 61, 56, 0.3);
    background-color: rgb(255 238 238);
    border-radius:37px;
    opacity: 50;

    padding: 4px;

    color: rgb(255, 140, 0);
    
}

.new-feature-container:hover{
    background-color: rgb(245, 219, 219);
    cursor: pointer;
}

.new-feature{
    border-radius: 37px;
    font-weight: 600;
    background-color: white;

    margin: 0 14px 0 0 ;
    padding: 4px;
}

.signup-tag-line{
    color: black;
    font-weight: 650;
    font-size: 50px;
    margin-bottom: -26px;
}

.signup-sub-tag-line{
    width: 668px;
    color: rgba(71, 84, 103, 1);
    font-size: large;

    text-align: center;
}

.signup-action-btn-container{
    display: flex;
    color: black;
}


.signup-action-btn{
    width: 109px;

    margin: 0 7px;
    border-radius: 62px;
    padding: 2px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-demo-btn-icon{
    height: 59%;
    margin: 0 4px 0 0;
}

.signup-demo-btn{
    border: 2px solid rgb(215, 215, 215);
}

.signup-demo-btn:hover{
    cursor: pointer;
    background-color: rgb(215, 215, 215);;
}

.signup-signup-btn{
    color: white;
    background: rgba(230, 63, 58, 1);
}

.signup-signup-btn:hover{
    background-color: rgb(166, 33, 29);
    cursor: pointer;
}

.test-my-skills-img{
    width: 78%;
    height: 470px;
}

.signup-companies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-company-logos{
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 90%;
}

.signup-companies-heading{
    font-size: small;
    color: rgba(71, 84, 103, 1);

}

.signup-companies-img{
    max-width: 14%;
    margin: 0 10px;
}